html, body { 
    height: 100%;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 310px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3 {
    color: black;
}

.input-group-prepend span {
    width: 40px;
    background-color: #b06666;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: black;
    background-color: #b06666;
    width: 100px;
}
