@model EmployeeManager.Models.EmpoyeeModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div style="justify-content:center" class="card-header align-items-center">
                <h3 style="margin-left:35%">Sign In</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    if (ViewBag.LoginStatus != null)
                    {
                        if (ViewBag.LoginStatus == 0)
                        {
                            <div class="alert alert-danger">Invalid username or password!</div>
                        }
                    }
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "username" })

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        @Html.PasswordFor(m => m.Pasword, new { @class = "form-control", @placeholder = "password" })
                    </div>
                    
                    <div style="justify-content:center" class="row form-group align-items-center">
                        <input type="submit" value="Login" class="btn float-right login_btn">
                    </div>}
            </div>
        </div>
    </div>
</div>